################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCLab/MVCBasics/bin/Debug/netcoreapp3.1
/MVCLab/.vs/MVCLab
/MVCLab/MVCBasics/obj
/MVCLab/DataLayer/bin/Debug/netstandard2.1
/MVCLab/Models/bin/Debug/netstandard2.1
/MVCLab/FormAuth/bin/Debug/netcoreapp3.1/runtimes
/MVCLab/FormAuth/bin/Debug/netcoreapp3.1
/MVCLab/FormsDemo/bin
/MVCLab/FormsDemo/obj/Debug
